extends layout

block content
  script(src="https://owf-sample-fossilisable-turbofan.cfapps.io/js-min/owf-widget-min.js")
  script(type='text/javascript').
    OWF.relayFile = 'https://owf-sample-fossilisable-turbofan.cfapps.io/js/eventing/rpc_relay.uncompressed.html';
    OWF.ready(init);
    OWF.Intents.receive(
      {
        action:'text/html',
        dataType:'application/ksitto.record'
      },{
        data: data
      }, function (sender, intent, data) {
        document.write(data.data);
      }
    );
  
  h1= title
  p Welcome to #{title}
